* {
  box-sizing: border-box;
}

:root {
  --background-size: unquote("min(100vw, 40em)");
}

html {
  font-size: calc(100% + 0.5vw);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition-duration: 0.001s !important;
  }
}

.container {
  background: linear-gradient(100deg, #402, #006);
  padding: 2em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra il contenuto orizzontalmente */
  align-items: center; /* Centra verticalmente */
  background-color: #ffffff;
  background-image: url("LINK IMMAGINE"), linear-gradient(80deg, rgb(104, 104, 104), rgb(104, 104, 104));
  background-position: 50% 50%;
  animation: background-move 10s linear infinite;
  background-size: max(100vw, 30em) auto, 100% 100%;
}

@keyframes background-move {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 100vw 0, 0 0;
    background-position: max(100vw, 40em) 0, 0 0;
  }
}

.input-group {
  width: 100%;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-bottom: 1.5em; /* Aggiunge spazio tra i campi */
}

.input-group__label {
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  color: rgba(255, 220, 255, 0.6);
  cursor: pointer;
}

.input-group__input {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1;
  border-style: none;
  outline: none;
  height: calc(1em + 1.6em + 0.5em);
  width: 100%;
  padding: 0.8em 1em;
  border: 0.25em solid transparent;
  background-image: linear-gradient(#000, #000), linear-gradient(120deg, #542759 0%, #542759 50%, #542759 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 1.8em;
  background-size: 200% 100%;
  transition: background-position 0.8s ease-out;
}

.input-group__input:hover {
  background-position: 100% 0;
}

.input-group__input:focus {
  outline: 2px dashed #000;
  outline-offset: 0.5em;
}

.search-button {
  padding: 0.8em 1.5em;
  margin-top: 1em;
  font-size: 1rem;
  color: #fff;
  background-color: #542759;
  border: none;
  border-radius: 1.8em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #6a3275;
}

.result-container {
  margin-top: 1em; /* Spazio sopra il risultato */
  width: 100%;
}
